.label {
  flex-basis: 30%;
}
.input::placeholder {
  font-size: small !important;
  text-align: center;
  color: var(--gray) !important;
}

@media (max-width: 576px) {
  .label {
    flex-basis: 47%;
  }
}
